<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sih_rcs">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentOptions"></activity>
        <activity android:name=".PassengerDetails" />
        <activity android:name=".FlightDetails" />
        <activity android:name=".No_results" />
        <activity android:name=".SearchFlight2" />
        <activity android:name=".SearchFlight" />
        <activity android:name=".More" /> <!-- <activity android:name=".json"/> -->
        <activity android:name=".MyAccount" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" />
        <activity android:name=".MyProfile" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MyBookings" />
        <activity android:name=".Travellers" />
    </application>


</manifest>